html,
body {
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #0c0c0c;
  color: white;
}

body {
  min-height: 100vh;
}

body:has(.firecms-neat-branding),
.firecms-neat-branding,
#gradient-container-id + a, 
#gradient + a {
    display: none !important;
    pointer-events: none !important;
}